{% extends 'base_layout.html' %}

{% block content %}
     <div class="chat">
          {% for message in messages %}
               <div class="container">
                    <p class="message">{{message.message}}</p>
                    <span class="time-left">{{message.user}}</span>
                    <span class="time-right">{{message.time}}</span>
               </div>
          {% endfor %}
     </div>
     <form class="message-form" method="post">
          {% csrf_token %}
          {{form}}
          <input type="submit" value="Send">
     </form>
{% endblock %}